.App-header {
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
 }

a {
  text-decoration: none;
  color: rgb(34, 175, 34);
  font-weight: 650;
}

a:hover {
  color: darkgreen;
}