form {
  margin-top: 10px;
  margin-left: 15px;
}

h1 {
  margin-left: 30px;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

.weather {
  border: 1px solid rgb(34, 175, 34);
  border-radius: 4px;
  text-align: left;
}

.icon_temp {
  margin-left: 30px;
  font-size: 50px;
}